.feynman {
    position: relative;
    background-color:#f2f2f2;
    min-height: 890px;
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрируем по горизонтали */
    text-align: center; /* Центрируем текст */
    margin-bottom: 100px;
  }